body
    margin: 0px
    background: #515A98
    width: 80%
    margin: auto
    /* Style Search icon in search bar */
    #search-icon
        width: 1em
        height: 1em
        fill: #fff
        position: relative
        top: 6%
        left: 95%
        cursor: pointer

    /* Apply common styles for search bar and the textarea */    
    #search-bar, #json
        width: 100%
        border-radius: 5px
        position: relative
        top: 10%
        padding: 10px
        border: 0px
        font-size: 12pt
    
    /*  Apply specific dimensions for search bar and textarea */    
    #search-bar
        height: 40px

    #json
        height: 500px
        width: 100%