body {
  margin: 0px;
  background: #515A98;
  width: 80%;
  margin: auto;
}

body #search-icon {
  width: 1em;
  height: 1em;
  fill: #fff;
  position: relative;
  top: 6%;
  left: 95%;
  cursor: pointer;
}

body #search-bar, body #json {
  width: 100%;
  border-radius: 5px;
  position: relative;
  top: 10%;
  padding: 10px;
  border: 0px;
  font-size: 12pt;
}

body #search-bar {
  height: 40px;
}

body #json {
  height: 100%;
  width: 100%;
}
/*# sourceMappingURL=index.css.map */